/*

#09092d azul bem escuro
#26077a azul escuro
#2838a3 azul
#2a60c9 azul claro
#f2f6f0 branco

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif ;
    scroll-behavior: smooth;

}


body{
background-color:#e2e2e1;
}

html{
    scroll-behavior: smooth;
}

footer{
    background-color:#26077a;
    color: whitesmoke;
}

header{

    color: #f2f6f0;
    background-color:#09092d;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0%;
    position: fixed;
    z-index: 1000;

}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

nav ul li{
    margin-left: 20px;

}

nav ul li a{
    color: #2a60c9;
    text-decoration: none;

}

nav ul li a:hover{
    background-color: #2838a3;
    height: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.logo{
    font-size: 2em;
    font-weight: bold;
}




.banner{
    background: url(../ImagensIWI/ENIAC.jpg) no-repeat center/cover;
    margin-top: 107px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #09092d;
    font-size: 1.5em;

}

@media(max-width:920px){
    header .container{
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }

    .banner{
        margin-top: 150px;
    }

}

h2{
    background-color: #26077a;
    text-shadow:2px 2px 10px black;
    color: #f2f6f0;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}